@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Main</PageTitle>

<img class="logo" src="images/exoplan.svg" alt="logo" />

<div class="user-panel">
    <div class="user">
        MISTER TURBO
        <div class="progress-bar-container">
            <div class="progress-bar-indicator" style="width:60%"></div>
        </div>
        @* <progress id="progress" value="32" max="100"> 32% </progress> *@
    </div>
    <div class="avatar">
        <img src="images/avatar.svg" alt="avatar" />
        <div class="score">654</div>
    </div>
</div>

<div class="menu">
    <button class="menu-item" autofocus><img class="starFour" src="images/starFour.svg" alt="starFour" />Main</button>
    <button class="menu-item"><img class="planet" src="images/planet.svg" alt="planet" />Planets</button>
    <button class="menu-item"><img class="flyingSaucer" src="images/flyingSaucer.svg"
            alt="flyingSaucer" />Observatories</button>
</div>


<button class="vr-button">
    <div class="vr"><img class="visor" src="images/visor.svg" alt="visor" />VR Mode</div>
</button>

<div class="bottom-panels">
    <div class="bottom-panels-item"></div>
    <div class="bottom-panels-item"></div>
    <div class="bottom-panels-item"></div>
</div>


@code
{
    private IJSObjectReference _mainJsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        _mainJsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/main.js");
        await _mainJsModule.InvokeVoidAsync("hello");
    }
}