@page "/observatories"

<PageTitle>Observatories</PageTitle>

<button @onclick="ShowSpaceObservatoriesAsync" style="pointer-events: all;">Space</button>

<button @onclick="ShowEarthObservatoriesAsync" style="pointer-events: all;">Earth</button>
