@import 'var';

.cards-page-container{
  max-width: calc(100vw - 250px - 24px);
  max-height: calc(100vh - 60px - 24px);
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  left: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  .title {
    font-family: "Jaro";
    font-size: 120px;
    font-weight: 400;
    line-height: 150px;
    font-optical-sizing: 72px;
  }

  .sub-title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    opacity: 70%;
  }
}

.cards-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  
  .item-card {
    overflow: hidden;
    height: 291px;
    width: 261px;
    background-color: $color-background-table;
    border-radius: $border-radius-base;
    pointer-events: all;
    
    .preview-image-container{
      position: relative;
      height: 146px;
      width: 100%;
      background-color: $color-card-image-preview;

      .preview-image {
        height: 100%;
        width: 100%;
      }
      
      .play-preview-container{
        position: absolute;
        top: 51px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $color-info-rows-divider;
        padding: 6px;
        border-radius: 32px;
        height: 44px;
        width: 44px;
        
        .play-preview-image{
          height: 32px;
          width: 32px;
        }
      }
    }

    .card-content-container {
      height: 145px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-family: "Jaro";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
      }

      .sub-title-container {
        display: flex;
        gap: 8px;
        margin-top: 36px;
        align-items: center;

        font-size: 15px;
        color: $color-info-title;
        
        .time-indicator{
          background-color: $color_link;
          border-radius:3px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}