@import '../base/var';

@font-face {
    font-family: 'Inter';
    src: url('#{$path-font-main-inter}/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('#{$path-font-main-inter}/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jaro';
    src: url('#{$path-font-main-jaro}/Jaro_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

