@using NasaChallenge2024.Services
@inject UiIVisibilityService UiIVisibilityService

<div class="menu @GetUiVisibility()">
    <button class="menu-item" autofocus>
        <img class="planets" src="images/planet.svg" alt="planet"/>Planets
    </button>
    <button class="menu-item">
        <img class="flyingSaucer" src="images/flyingSaucer.svg"
             alt="flyingSaucer"/>Observatories
    </button>
</div>

@code{
    private bool _uiIVisibility = true;
    
    private string GetUiVisibility() => _uiIVisibility ? string.Empty : "invisible";
    
    public void Dispose()
    {
        UiIVisibilityService.OnUiVisibilityUpdated -= HandleUiVisibilityUpdated;
    }
    
    protected override void OnInitialized()
    {
        UiIVisibilityService.OnUiVisibilityUpdated += HandleUiVisibilityUpdated;
    }

    private void HandleUiVisibilityUpdated(bool uiIVisibility)
    {
        _uiIVisibility = uiIVisibility;
    }

}