//var
$color-background-globe: #E0E5EB;
$color-background-light: rgba(255, 255, 255, 1);
$color-background-dark: rgba(20, 20, 20, 1);
$color-background-border: rgba(224, 229, 235, 1);
$color-background-accent: rgba(238, 30, 35, 1);
$color-indicator: #1579CE;
$color-select: #F6F7F9;

$color-text-primary: rgba(20, 20, 20, 1);
$color-text-secondary: rgba(114, 114, 114, 1);
$color-text-link: rgba(238, 30, 35, 1);
$color-text-primary-inverse: #fff;

$color-gray-05: rgba(20, 20, 20, 0.05);
$color-gray-60: rgba(20, 20, 20, 0.6);

$color-black-60: rgba(0, 0, 0, 0.6);

//fonts
$font-header: "Onest", sans-serif;
;
$font-body: "Onest", sans-serif;
;

//path
$path-font-main: '../fonts/onest';

//transition
$transition-sec: .25s;
$transition: all $transition-sec ease;

// shadows
$shadow-base: 0 4px 20px 0 rgba(0, 0, 0, 0.15);