@import '../base/var';

.distance-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 54px;
    left: 250px;
}

.distance-panel-buttons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    label {
        opacity: 70%;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked+label {
        color: #FFFFFF;
        opacity: 100%;
        background: $color-primary;
        border-radius: 6px;
    }

}

.distance-panel-buttons-item {
    pointer-events: all;
    margin: 2px 8px;
}
