@import '../base/var';

.distance-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 54px;
    left: 250px;
    @include _laptop {
        left: 100px;
    }
}

.distance-panel-buttons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    label {
        opacity: 70%;
        padding: 2px 8px;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked+label {
        color: #FFFFFF;
        opacity: 100%;
        border-radius: 6px;
        background: $color-primary;
    }
}

.distance-panel-buttons-item {
    pointer-events: all;
}

.distance {
    display: flex;
    flex-direction: row;
    gap: 8px;
    opacity: 70%;
}

.distance-description {
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.distance-text-bold{
    font-family: "Inter";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
