


.vr-button {
    margin-top: 6px;
    pointer-events: all;
    height: 20px;
}

.vr {
    gap: 12px;
    display: flex;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    opacity: 70%;
    margin-right: 24px;
}