@import 'base/reset';
@import 'base/var';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/grid';
@import 'globe/base';
@import 'globe/button';

@import 'controls/progress';
@import 'controls/slider';
@import 'infoTable';
@import 'controls/vr';
@import 'controls/bottom_panel';
@import 'controls/object_panel';
@import 'controls/user_panel';
@import 'controls/menu';
@import 'controls/distance_panel';
@import 'controls/planets-panels';
@import 'base/_floating-window';

body {
  background-color: #010101;
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
  color: #FFFFFF;
  background-color: #010101;
}

#scene-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
}

.object-name {
  position: absolute;
  top: 60px;
  left: 250px;
  font-family: "Jaro";
  font-size: 120px;
  font-weight: 400;
  line-height: 150px;
  font-optical-sizing: 72px;
}

.object-host-name {
    position: absolute;
    top: 194px;
    left: 250px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    opacity: 70%;
}

input {
    pointer-events: all;
}
