@import 'base/reset';
@import 'base/var';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/grid';
@import 'globe/base';
@import 'globe/button';

@import 'controls/progress';
@import 'controls/slider';
@import 'controls/vr';
@import 'controls/bottom_panel';
@import 'controls/object_panel';

#app {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #010101;
    color: #FFFFFF;
}

#scene-canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    position: absolute;
    top: 24px;
    left: 24px;
}

.user-panel {
    position: absolute;
    top: 16px;
    right: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.user {
    font-family: "Jaro";
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-optical-sizing: 72px;
    gap: 10px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-family: "Jaro";
    font-size: 16px;
    font-weight: 400;
}

.menu {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 208px;
}

.menu-item {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    height: 48px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    pointer-events: all;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 70%;
    display: flex;
    gap: 10px;
}


.menu-item:focus {
    background: linear-gradient(90deg, #EF48EF 0%, #010101 100%);
    opacity: 100%;
}


.invisible {
    display: none !important;
}